@use "sass:map";
@import "style/pages/theme";

.OverlayContainer {
    margin-top      : 0 !important;
    position        : absolute;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    border          : 1px solid #ccc;
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    background-color: rgba(0, 0, 0, 0.5);
}

.OverlayContainer .Close {
    width: 100%;
}

.OverlayContainer .Close button {
    height          : 48px;
    width           : 48px;
    background-color: inherit;
    border          : none;
    color           : white;
    float           : right;
}

.OverlayContainer .Close button>svg {
    width : 36px;
    height: 36px;
}

.OverlayContainer .OverlayContent {
    position        : absolute;
    margin-top      : 72px;
    background-color: white;
    height          : fit-content;
    padding         : 32px;
    border-radius   : 10px;
}


.PostDenyDialogueContainer {
    width : 300px;
    height: fit-content;
}

.PdDHeader h3 {
    margin-bottom: 16px;
}

.PdDContent .PdDField {
    margin-bottom: 16px;
}

.PdDContent .PdDField>div {
    margin-bottom: 8px;
    font-weight  : 700;
}

.PdDContent input,
.PdDContent textarea {
    width  : 100%;
    padding: 8px
}

.PdDContent textarea {
    resize: vertical;
}

.PdDActions .PdDWarning {
    margin-bottom: 8px;
    width        : 100%;
    text-align   : center;
}

.PdDButtons {
    display: flex;
    gap    : 8px;
}

.PdDButtons>button {
    width  : 100%;
    padding: 8px;
}

#PdDConfirmButton {
    border-radius: 10px;
    background   : #3A57E8;
    color        : white;
    font-weight  : 700;
    border       : none;
}

#PdDCancelButton {
    border-radius: 10px;
    border       : 1px solid #6597DB;
    background   : #FFF;
    font-weight  : 700;
}