@use "sass:map";
@import "style/pages/theme";
@import "~mdb-ui-kit/css/mdb.min.css";
.history {
  h1 {
    font-weight: 700;
    font-size: $fs-normal-title;
  }
  &__tab {
    &_table {
      min-width: 500px;
      &_title {
        transform: translateX(20px);
      }
    }
  }
  &__pagination {
    display: flex;
    margin-top: 200px;
    justify-content: center;
  }
}
.nav-link {
  font-weight: 400 !important;
  font-size: 14px !important;
}
.table__name {
  width: 130px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin-left: -18px;
}
.table__address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table__action {
  height: 80px;
}
.view__content {
  display: flex;
  align-items: center;
  font-size: $fs-normal-text;
  column-gap: 10px;
}
.view__text {
  font-weight: bold;
}
.schedule__rating {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.react-stars {
  overflow: visible !important;
  span {
    overflow: visible !important;
  }
}
.no__schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 70px;
  &_icon {
    font-size: 60px;
  }
  p {
    font-size: 20px;
    font-weight: 700;
  }
}
