@use "sass:map";
@import "style/pages/theme";
.changePassword {
  &__title {
    font-weight: 700;
    font-size: 26px;
  }
  &__form {
    margin-top: 20px;
    min-width: 550px;
    &_text {
      font-size: $fs-normal-text;
      font-weight: 600;
      color: $color-black;
    }
    &_input {
      min-height: 45px;
    }
    &_icon {
      svg {
        transform: translateY(5px);
      }
    }
    &_button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
