@use "sass:map";
@import "style/pages/theme";

.AdminSpecialityContainer {
    margin: 32px;
}

.AdminSpecialityFilter {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 32px;
}

.AdminSpecialityFilter>h3 {
    width      : 100%;
    font-weight: 700;
}

.AdminSpecialityFilter .FilterRow {
    display: flex;
    width  : 100%;
}

.AdminSpecialityFilter .FilterLabel {
    font-weight: 700;
}

.AdminSpecialityFilter .FilterRow .Filter {
    margin-bottom: 24px;
}

.AdminSpecialityFilter .FilterRow .Filter .FilterLabel {
    margin-bottom: 8px;
}

.AdminSpecialityFilter .FilterRow .Filter.col .FilterTextInput input {
    border-radius: 10px;
    border       : 1px solid #B6A5A5;
    padding      : 8px;
    width        : 40%;
}

.AdminSpecialityFilter .FilterRow .Filter .FilterTextInput input::placeholder {
    color      : #00000059;
    font-style : italic;
    font-weight: 700;
}

.AdminSpecialityResult .ResultPerTable {
    margin-bottom: 16px;
}

.AdminSpecialityResult .ResultPerTable label {
    margin-right: 16px
}

.AdminSpecialityResult .Table {
    display        : flex;
    justify-content: center;
    width          : 100%;
    flex-wrap      : wrap;
}

.AdminSpecialityResult .Table table {
    width: 100%;
}

.AdminSpecialityResult tr:nth-child(odd) {
    background-color: #F1F0F0;
}

.AdminSpecialityResult tr:nth-child(even) {
    background-color: #FFFFFF;
}

.AdminSpecialityResult th,
.AdminSpecialityResult td {
    padding   : 16px 8px;
    width     : fit-content;
    text-align: center;
}

.AdminSpecialityResult th {
    font-weight     : 700;
    background-color: #D9D9D9;
}

.AdminSpecialityResult td div.Action {
    display        : flex;
    gap            : 16px;
    justify-content: center;
}

.AdminSpecialityResult td div.Action button {
    border : none;
    padding: 2px;
}

.AdminSpecialityResult td div.Action button svg {
    width: 22px;
}

.AdminSpecialityResult td div.Action button.EditButton {

    background-color: #ADF4BD;
    color           : #209C43;
}

.AdminSpecialityResult td div.Action button.DeleteButton {
    background-color: #E21C1C78;
    color           : #BE2424;
}

.AdminSpecialityResult .PageMonitor {
    margin-left: auto;
    margin-top : 32px;
}

.AdminSpecialityResult .PageMonitor,
.AdminSpecialityResult .PageMonitor>.Pages {
    display: flex;
    gap    : 4px;
}

.AdminSpecialityResult .PageMonitor {
    margin-left: auto;
    width      : fit-content;
}

.AdminSpecialityResult .PageMonitor>div,
.AdminSpecialityResult .PageMonitor>.Pages>li {
    width : 32px;
    height: 32px;
    cursor: pointer;
}

.AdminSpecialityResult .PageMonitor>.PrevPage,
.AdminSpecialityResult .PageMonitor>.NextPage {
    border       : 1px solid rgb(217, 217, 217);
    border-radius: 4px;
}

.AdminSpecialityResult .PageMonitor>.PrevPage.disabled,
.AdminSpecialityResult .PageMonitor>.NextPage.disabled {
    background-color: rgb(242, 242, 242);
    cursor          : not-allowed;
    border          : none;
}

.AdminSpecialityResult .PageMonitor>.PrevPage.disabled>svg>polygon,
.AdminSpecialityResult .PageMonitor>.NextPage.disabled>svg>polygon {
    fill: #c5c5c5;
}

.AdminSpecialityResult .PageMonitor>.Pages>li.selected {
    color           : rgb(255, 255, 255);
    background-color: rgb(45, 135, 243);
    border-radius   : 4px;
}

.SIDOverlayContainer,
.SDDOverlayContainer {
    margin-top      : 0 !important;
    position        : absolute;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    border          : 1px solid #ccc;
    display         : none;
    flex-wrap       : wrap;
    justify-content : center;
    background-color: rgba(0, 0, 0, 0.5);
}

.SIDOverlayContainer .SIDClose,
.SDDOverlayContainer .SDDClose {
    width: 100%;
}

.SIDOverlayContainer .SIDClose button,
.SDDOverlayContainer .SDDClose button {
    height          : 48px;
    width           : 48px;
    background-color: inherit;
    border          : none;
    color           : white;
    float           : right;
}

.SIDOverlayContainer .SIDClose button>svg,
.SDDOverlayContainer .SDDClose button>svg {
    width : 36px;
    height: 36px;
}

.SIDOverlayContainer .SIDOverlayContent,
.SDDOverlayContainer .SDDOverlayContent {
    position        : absolute;
    margin-top      : 72px;
    background-color: white;
    height          : fit-content;
    padding         : 32px;
    border-radius   : 10px;
}