@use "sass:map";
@import "~mdb-ui-kit/css/mdb.min.css";
.forms {
  margin: 0 auto;
  margin-top: 20px !important;
  display: flex;
  max-width: 450px;
  width: 100%;
  max-height: 840px;
  height: 100%;
  align-items: center;
  padding: 20px;
  border: 1px solid #b7b7a4;
  border-radius: 10px;
  &__register {
    width: 100%;
    &_title {
      font-size: 25px;
      text-align: center;
      font-weight: 500;
    }
    &_text {
      font-size: 15px;
      font-weight: 500;
    }
    &_in {
      position: relative;
      svg {
        position: absolute;
        height: 20px;
        width: 20px;
        right: 10px;
        top: 18%;
      }
    }
    &_error {
      margin-top: 10px;
      height: 5px;
      font-size: 10px;
      color: red;
    }
  }
}
.register_image1 {
  position: absolute;
  left: -20px;
  bottom: -30px;
  object-fit: cover;
  width: 400px;
  img {
    width: 100%;
  }
}
.register_image2 {
  position: absolute;
  right: -0px;
  bottom: -30px;
  width: 400px;
  img {
    width: 100%;
  }
}
