@use "sass:map";
@import "style/pages/theme";


.AdminChangePasswordDialogueContainer {
    width: 300px;
}

.ACPDHeader h3 {
    margin-bottom: 16px;
}

.ACPDContent {
    display  : flex;
    gap      : 16px;
    flex-wrap: wrap;
}

.ACPDContent .ACPDCols {
    width: 100%;
}

.ACPDContent .ACPDField {
    margin-bottom: 16px;
}

.ACPDContent .ACPDField input {
    margin-top   : 8px;
    padding      : 8px;
    width        : 100%;
    border-radius: 6px;
}

.ACPDContent .ACPDField {
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
}

.ACPDContent .ACPDField label,
.ACPDContent .ACPDField .ACPDLabel {

    font-weight: 700;
}

.ACPDContent .ACPDField label {
    width: 30%;
}

.ACPDContent .ACPDField select {
    padding: 4px;
}

.ACPDContent .ACPDField input:disabled {
    background-color: #f2f2f2;
    color           : #999;
}

.ACPDActions .ACPDWarning {
    margin-bottom: 8px;
    width        : 100%;
    text-align   : center;
}

.ACPDButtons {
    display: flex;
    gap    : 8px;
}



.ACPDButtons>button {
    width  : 100%;
    padding: 8px;
}

#ACPDConfirmButton {
    border-radius: 10px;
    background   : #3A57E8;
    color        : white;
    font-weight  : 700;
    border       : none;
}

#ACPDCancelButton {
    border-radius: 10px;
    border       : 1px solid #6597DB;
    background   : #FFF;
    font-weight  : 700;
}