@use "sass:map";
@import "style/pages/theme";


.SpecialityInfoDialogueContainer {
    width: fit-content;
}

.SIDHeader h3 {
    margin-bottom: 16px;
}

.SIDContent {
    display: flex;
    gap    : 16px;
}

.SIDContent .SIDCols {
    width: 300px;
}

.SIDContent .SIDField {
    margin-bottom: 16px;
}

.SIDContent .SIDField input {
    margin-top   : 8px;
    padding      : 8px;
    width        : 100%;
    border-radius: 6px;
}

.SIDContent .SIDField {
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
}

.SIDContent .SIDField label,
.SIDContent .SIDField .SIDLabel {

    font-weight: 700;
}

.SIDContent .SIDField label {
    width: 30%;
}

.SIDContent .SIDField select {
    padding: 4px;
}

.SIDContent .SIDField input:disabled {
    background-color: #f2f2f2;
    color           : #999;
}

.SIDAction {
    margin-left: auto;
    width      : fit-content;
}

.SIDAction button {
    display      : inline-block;
    margin-left  : 8px;
    padding      : 8px;
    border       : none;
    border-radius: 6px;
}

.SIDAction button.hidden {
    display: none;
}