@use "sass:map";
@import "style/pages/theme";

.DoctorSideMenuLogo {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  transform: translateX(20px);
}

.DoctorSideMenuLogo img {
  object-fit: cover;
  width: 70px;
  height: 70px;
  margin-left: 40px;
}

.sideBarActive {
  color: $color-blue !important;
}
.DoctorMenu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  a {
    color: $color-title;
  }
}
