@use "sass:map";
@import "style/pages/theme";
@import "~mdb-ui-kit/css/mdb.min.css";
.DenyButton {
  background-color: #d9a1117a;
  color: #ff8000;
}
.ApproveButton {
  background-color: #adf4bd;
  color: #209c43;
}
.approvedPost {
  svg {
    color: #33e423;
    margin-right: 5px;
  }
}
.waitingPost {
  svg {
    color: #00c2ff;
    margin-right: 4px;
  }
}
.appointmentManage {
  &_info {
    display: flex;
    column-gap: 10px;
    span {
      font-weight: 600;
    }
  }
  &_header {
    font-weight: 700;
    color: $color-title;
    margin-bottom: 20px;
  }
  &_content {
    display: flex;
    column-gap: 100px;
    width: 95%;
    margin-top: 20px;
    justify-content: center;
  }
  &_rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
