@use "sass:map";
@import "style/pages/theme";

.UserLockAccountDialogueContainer {
    width : 300px;
    height: fit-content;
}

.ULDHeader h3 {
    margin-bottom: 16px;
}

.ULDContent .ULDField {
    margin-bottom: 16px;
}

.ULDContent .ULDField>div {
    margin-bottom: 8px;
    font-weight  : 700;
}

.ULDContent input {
    width  : 100%;
    padding: 8px
}

.ULDActions .ULDWarning {
    margin-bottom: 8px;
    width        : 100%;
    text-align   : center;
}

.ULDButtons {
    display: flex;
    gap    : 8px;
}



.ULDButtons>button {
    width  : 100%;
    padding: 8px;
}

#ULDConfirmButton {
    border-radius: 10px;
    background   : #3A57E8;
    color        : white;
    font-weight  : 700;
    border       : none;
}

#ULDCancelButton {
    border-radius: 10px;
    border       : 1px solid #6597DB;
    background   : #FFF;
    font-weight  : 700;
}