@use "sass:map";
@import "style/pages/theme";

.PostDeleteDialogueContainer {
    width : 350px;
    height: fit-content;
}

.PDDHeader h3 {
    margin-bottom: 16px;
}

.PDDContent .PDDField {
    margin-bottom: 16px;
}

.PDDContent .PDDField>div {
    margin-bottom: 8px;
    font-weight  : 700;
}

.PDDContent input,
.PDDContent textarea {
    width  : 100%;
    padding: 8px
}

.PDDContent textarea {
    resize: vertical;
}

.PDDActions .PDDWarning {
    margin-bottom: 8px;
    width        : 100%;
    text-align   : center;
}

.PDDButtons {
    display: flex;
    gap    : 8px;
}



.PDDButtons>button {
    width  : 100%;
    padding: 8px;
}

#PDDConfirmButton {
    border-radius: 10px;
    background   : #3A57E8;
    color        : white;
    font-weight  : 700;
    border       : none;
}

#PDDCancelButton {
    border-radius: 10px;
    border       : 1px solid #6597DB;
    background   : #FFF;
    font-weight  : 700;
}