@use "sass:map";

.DoctorPageContainer {
    margin    : 0 15rem;
    display   : flex;
    flex-wrap : wrap;
    margin-top: 90px;
}

.DoctorPageHeader {
    padding-bottom: 32px;
    border-bottom : 1px solid rgb(228, 232, 236)
}

.DoctorPageHeader>.Avatar {
    width    : 20%;
    max-width: 400px;
    min-width: 100px;
    padding  : 0 16px;
}

.DoctorPageHeader>.Avatar>img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.DoctorPageHeader>.BasicInfo {
    margin-left: 48px;
    flex-wrap  : wrap;
    display    : flex;
    gap        : 8px;
    height     : fit-content;
}

.DoctorPageHeader>.BasicInfo>* {
    width  : 100%;
    padding: 4px 0;
    margin : 0;
}

.DoctorPageHeader>.BasicInfo ul.ListTags {
    display: flex;
    gap    : 16px;
}

.DoctorPageHeader>.BasicInfo ul.ListTags>li {
    color        : rgb(89, 89, 89);
    background   : rgb(248, 249, 252);
    border       : rgb(248, 249, 252);
    padding      : 2px 8px;
    border-radius: 10px;
}

.DoctorPageHeader>.BasicInfo ul.ListTags>li.blue {
    border          : 1px solid rgb(45, 135, 243);
    background-color: rgb(227, 242, 255);
    color           : rgb(45, 135, 243);
}

.DoctorPageHeader>.BasicInfo ul.ListTags>li.orange {
    border          : 1px solid rgb(254, 146, 29);
    background-color: rgb(255, 248, 226);
    color           : rgb(254, 146, 29);
}

.DoctorPageContent {
    display        : flex;
    justify-content: space-between;
}


.DoctorPageContent .DoctorInfo {
    width : 65%;
    margin: 16px;
}

.DoctorPageContent>.AppointmentBox {
    width           : 30%;
    padding         : 16px;
    background-color: rgb(248, 249, 252);
    border          : 1px solid #dbdfe5;
    border-radius   : 8px;
}

.DoctorPageContent .DoctorHighlight {
    background-color: rgb(227, 242, 255);
    padding         : 16px;
}

.DoctorPageContent .DoctorHighlight .DoctorHighlightHeader {
    margin-bottom: 12px;
    display      : flex;
    align-items  : center;
}

.DoctorPageContent .DoctorHighlight .DoctorHighlightContent {
    font-size: 14px;
}

.DoctorBasicInfo ul.ListTab {
    display      : flex;
    gap          : 20px;
    margin       : 42px 0;
    border-bottom: 1px solid rgb(228, 232, 236);
    width        : fit-content;
    overflow     : auto hidden;
    color        : rgb(140, 140, 140);
}

.DoctorBasicInfo ul.ListTab>li.Tab {
    padding-bottom: 8px;

}

.DoctorBasicInfo ul.ListTab>li.Tab.selected {
    color        : rgb(45, 135, 243);
    border-bottom: 3px solid rgb(45, 135, 243);
}

.DoctorBasicInfo>.Content>* {
    margin-bottom: 24px;
}

.DoctorBasicInfo>.Content>.BasicInfo>.Header,
.DoctorBasicInfo>.Content .Header {
    font-size    : 16px;
    margin-bottom: 16px;
}

.DoctorBasicInfo>.Content>.BasicInfo>.Header {
    display    : flex;
    align-items: center;
}

.DoctorPageContent .DoctorHighlight>.DoctorHighlightHeader::before,
.DoctorBasicInfo>.Content>.BasicInfo>.Header::before {
    content         : "";
    width           : 2px;
    height          : 15px;
    margin-right    : 8px;
    background-color: rgb(45, 135, 243);
    display         : block;
}

.DoctorBasicInfo>.Content .Header {
    display    : flex;
    align-items: center;
}

.DoctorBasicInfo>.Content .HeaderIcon {
    width          : 18px;
    height         : 18px;
    margin-right   : 8px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.DoctorBasicInfo>.Content .HeaderIcon>img {
    width     : 100%;
    object-fit: cover;
}

.DoctorBasicInfo>.Content .HeaderName {
    font-weight: 700;
    font-size  : 18px;
}

.DoctorBasicInfo .Strengths ul.ListStrengthsTab {
    display  : flex;
    flex-wrap: wrap;
    gap      : 8px;
}

.DoctorBasicInfo .Strengths li.Strengths {
    background   : rgb(248, 249, 252);
    padding      : 4px 8px;
    border-radius: 10px;
    font-size    : 12px;
}

.DoctorBasicInfo .Services li.Service {
    background-color: rgb(248, 249, 252);
    font-size       : 12px;
    padding         : 16px;
}

.DoctorBasicInfo .Services li.Service>* {
    margin-bottom: 8px;
}

.DoctorBasicInfo .Services li.Service .ServiceHeader {
    font-weight: 700;
}

.DoctorBasicInfo .Services li.Service .ServiceFee {
    display    : flex;
    align-items: center;
    gap        : 8px
}

.DoctorBasicInfo .Services li.Service .ServiceFee span.Icon {
    width      : 15px;
    height     : 15px;
    display    : flex;
    align-items: center;
}

.DoctorBasicInfo .Services li.Service .ServiceFee span.Icon>img {
    width     : 100%;
    object-fit: cover;
}

.DoctorBasicInfo .Services li.Service .ServiceFee span.Fee {
    color: #009E5C;
}

.DoctorBasicInfo .History {
    display: flex;
    gap    : 16px
}

.DoctorBasicInfo .Experiences,
.DoctorBasicInfo .Education {
    width: 49%;
}

.DoctorBasicInfo .Experiences .Experience {
    margin-bottom: 12px;
}

.DoctorBasicInfo .Experiences .ExperienceHeader,
.DoctorBasicInfo .Education .SchoolHeader {
    font-size     : 15px;
    padding-bottom: 4px;
}

.DoctorBasicInfo .Experiences .ExperienceDetails,
.DoctorBasicInfo .Education .SchoolDetails {
    font-size: 12px;
    color    : #737373;
}

.DoctorBasicInfo .WorkTime {
    width: 60%
}

.DoctorBasicInfo .WorkTime .Time {
    display        : flex;
    justify-content: space-between;
    padding        : 2px 0;
}

.DoctorBasicInfo .PaymentMethod ul.ListPaymentMethod {
    display  : flex;
    flex-wrap: wrap;
    gap      : 16px
}

.DoctorBasicInfo .PaymentMethod li.Method {
    width    : 100px;
    display  : flex;
    flex-wrap: wrap;
}

.DoctorBasicInfo .PaymentMethod li.Method>* {
    width: 100%;
}

.DoctorBasicInfo .PaymentMethod li.Method>div.MethodIcon {
    padding      : 8px 12px;
    border       : 1px solid rgb(210, 214, 220);
    border-radius: 6px;
    height       : 50px;
    margin-bottom: 8px;
}

.DoctorBasicInfo .PaymentMethod li.Method img {
    width     : 50%;
    object-fit: cover;
}

.DoctorBasicInfo .PaymentMethod li.Method>div.MethodDetails {
    text-align: center;
    font-size : 14px;
}

.DoctorPageAppointmentBox {
    width           : 28%;
    height          : fit-content;
    background-color: rgb(248, 249, 252);
    border          : 1px solid #dbdfe5;
    border-radius   : 6px;
    padding         : 16px;
    margin          : 16px
}