@use "sass:map";
@import "style/pages/theme";
.container__master {
  //   position: relative;
}
.header__container {
  position: relative;
}
.chatbox {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 50%;
  position: fixed;
  z-index: 200;
  background-color: red;
}
