@use "sass:map";
@import "style/pages/theme";
@import "~mdb-ui-kit/css/mdb.min.css";
.HeaderContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 4px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(217, 217, 217);
  position: fixed;
  z-index: 2;
}

.HeaderLogoContainer {
  height: 100%;
  width: 10%;
  display: inline-block;
  cursor: pointer;
}

#HeaderLogo {
  width: 100%;
  height: 80%;
  object-fit: contain;
  margin-top: 6px;
}

.HeaderSearchContainer {
  width: 20%;
  height: 65%;
  border: 1px solid rgb(217, 217, 217);
  display: flex;
  border-radius: 10px;
}

.HeaderSearchIcon {
  padding: 0 12px;
}

.HeaderSearchInput {
  width: 100%;
  height: 100%;
}

#HeaderSearch {
  width: 100%;
  height: 50%;
  border: none;
  outline-color: transparent;
}

.HeaderCategoryContainer {
  margin-left: auto;
}

.HeaderListCategory {
  margin: 0 32px 0 0;
}

.HeaderCategory {
  display: inline-block;
  margin: 0px 25px;
}
.HeaderCategoryLink {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 2px;
}
.HeaderArrow {
  svg {
    font-size: 20px;
    margin-top: -4px;
    cursor: pointer;
  }
}

.HeaderCategoryLink > a {
  text-decoration: none;
  color: $color-header;
  font-size: $fs-normal-text;
}

.HeaderUserContainer {
  width: 10%;
  margin-right: 32px;
}

.HeaderUserContainer {
  height: 60%;
  background-color: #2d87f3;
  border-radius: 10px;
}

.LoginButtonContainer {
  background-color: #2d87f3;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
.dropdown_title {
  font-weight: bold;
}
.header__menu_image {
  img {
    max-width: 30px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dropdown__item {
  column-gap: 10px;
  span {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.dropdown__menu {
  width: 230px;
  margin: 35px 0 0 -60px !important;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    right: 110px;
    top: -14px;
  }
}
.dropdown__menu2 {
  width: 280px;
  margin: 35px 0 0 -80px !important;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    right: 130px;
    top: -14px;
  }
}
.dropdown__menu3 {
  width: 230px;
  margin: 35px 0 0 -50px !important;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    right: 110px;
    top: -14px;
  }
}
.header__menu_link {
  height: 40px;
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
  color: $color-blue;
  font-weight: 500;
  font-size: $fs-normal-text;
  border: 1px solid $color-blue;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  display: flex;
  padding-left: 15px;
  column-gap: 5px;
  align-items: start;
  svg {
    font-size: 17px;
  }
}
.HeaderUser {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $border;
  margin-right: 37px;
  svg {
    color: $color-footer;
    width: 25px;
    height: 25px;
    padding-bottom: 4px;
  }
}
.HeaderDropdown {
  height: 50px;
}
.HeaderItem {
  background-color: white;
  border: 1px solid $border;
  box-shadow: $box-shadow;
  border-radius: 6px;
  margin-left: -280px;
  width: 340px;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 19px;
  &__user {
    display: flex;
    column-gap: 10px;
    align-items: start;
    &_avt {
      width: 60px;
      height: 60px;
      background: white;
      border-radius: 50%;
      border: 1px solid $border;
      text-align: center;
      padding-top: 10px;
      svg {
        width: 30px;
        height: 30px;
        color: $color-footer;
      }
    }
    &_name {
      h6 {
        font-weight: 700;
        color: $color-title;
        height: 10px;
        margin-top: 10px;
      }
      p {
        color: $color-black;
        font-size: $fs-small-text;
      }
    }
  }
  &__list {
    &_item {
      box-shadow: $box-shadow;
      border-radius: 6px;
      width: 143px;
      margin-bottom: 10px;
      margin-left: 15px;
      padding-top: 10px;
      height: 70px;
      &_icon {
        color: $color-black;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      p {
        font-weight: 700;
        font-size: $fs-normal-text;
        color: $color-title;
        margin-top: 10px;
      }
    }
  }
  &__button {
    height: 42px;
    margin-left: 3px;
    border: 1px solid $border;
    border-radius: 6px;
    background-color: white;
    padding-left: 34%;
    padding-top: 10px;
    margin-right: 3px;
    span {
      display: flex;
      align-items: start;
      column-gap: 10px;
      svg {
        margin-top: -2px;
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    right: 68px;
    top: 60px;
  }
}
