@use "sass:map";
@import "style/pages/theme";

.PostViewDialogueContainer {
    width : 700px;
    height: fit-content;
}

.PWDHeader h3 {
    margin-bottom: 16px;
}

.PWDActions {
    margin-bottom: 16px;
}

.PWDActions .PWDWarning {
    margin-bottom: 8px;
    width        : 100%;
    text-align   : center;
}

.PWDButtons {
    display    : flex;
    gap        : 8px;
    margin-left: auto;
    width      : fit-content;
}

.PWDButtons>button {
    width  : 100%;
    padding: 8px;
}

#PWDDeleteButton {
    border-radius: 10px;
    background   : #be2424;
    color        : white;
    font-weight  : 700;
    border       : none;
    padding      : 8px;
}

.PWDContent {
    height   : 500px;
    max-width: 700px;
    overflow : scroll;
}