@use "sass:map";
@import "style/pages/theme";

.AdminPostContainer {
    margin: 32px;
}

.AdminPostFilter {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 32px;
}

.AdminPostFilter>h3 {
    width      : 100%;
    font-weight: 700;
}

.AdminPostFilter .FilterRow {
    display: flex;
    width  : 100%;
}

.AdminPostFilter .FilterLabel {
    font-weight: 700;
}

.AdminPostFilter .FilterRow .Filter {
    margin-bottom: 24px;
}

.AdminPostFilter .FilterRow .Filter .FilterLabel {
    margin-bottom: 8px;
}

.AdminPostFilter .FilterRow .Filter .FilterTextInput input {
    border-radius: 10px;
    border       : 1px solid #B6A5A5;
    padding      : 8px;
    width        : 80%;
}

.AdminPostFilter .FilterRow .Filter.col .FilterTextInput input {
    width: 40%;
}

.AdminPostFilter .FilterRow .Filter .FilterTextInput input::placeholder {
    color      : #00000059;
    font-style : italic;
    font-weight: 700;
}

.AdminPostFilter .FilterRow .Filter .RadioButton label {
    margin-left: 8px;
}

.AdminPostResult .ResultPerTable {
    margin-bottom: 16px;
}

.AdminPostResult .ResultPerTable label {
    margin-right: 16px
}

.AdminPostResult .Table {
    display        : flex;
    justify-content: center;
    width          : 100%;
    flex-wrap      : wrap;
}

.AdminPostResult .Table table {
    width: 100%;
}

.AdminPostResult tr:nth-child(odd) {
    background-color: #F1F0F0;
}

.AdminPostResult tr:nth-child(even) {
    background-color: #FFFFFF;
}

.AdminPostResult th,
.AdminPostResult td {
    padding   : 16px 8px;
    text-align: center;
}

.AdminPostResult th {
    font-weight     : 700;
    background-color: #D9D9D9;
}

.AdminPostResult td.waitingPost,
.AdminPostResult td.approvedPost {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.AdminPostResult td.waitingPost svg {
    color       : #00C2FF;
    margin-right: 4px;
}

.AdminPostResult td.approvedPost svg {
    color       : #33E423;
    margin-right: 4px;
}


.AdminPostResult td div.Action {
    display        : flex;
    gap            : 4px;
    justify-content: center;
}

.AdminPostResult td div.Action button {
    border : none;
    padding: 2px;
}

.AdminPostResult td div.Action button svg {
    width: 22px;
}

.AdminPostResult td div.Action button.ApproveButton {

    background-color: #ADF4BD;
    color           : #209C43;
}

.AdminPostResult td div.Action button.DenyButton {
    background-color: #D9A1117A;
    color           : #FF8000;
}

.AdminPostResult td div.Action button.DeleteButton {
    background-color: #E21C1C78;
    color           : #BE2424;
}

.AdminPostResult td div.Action button.disabled {
    background-color: #00000005;
    color           : #00000038;
    cursor          : unset;
}

.AdminPostResult .PageMonitor {
    margin-left: auto;
    margin-top : 32px;
}

.AdminPostResult .PageMonitor,
.AdminPostResult .PageMonitor>.Pages {
    display: flex;
    gap    : 4px;
}

.AdminPostResult .PageMonitor {
    margin-left: auto;
    width      : fit-content;
}

.AdminPostResult .PageMonitor>div,
.AdminPostResult .PageMonitor>.Pages>li {
    width : 32px;
    height: 32px;
    cursor: pointer;
}

.AdminPostResult .PageMonitor>.PrevPage,
.AdminPostResult .PageMonitor>.NextPage {
    border       : 1px solid rgb(217, 217, 217);
    border-radius: 4px;
}

.AdminPostResult .PageMonitor>.PrevPage.disabled,
.AdminPostResult .PageMonitor>.NextPage.disabled {
    background-color: rgb(242, 242, 242);
    cursor          : not-allowed;
    border          : none;
}

.AdminPostResult .PageMonitor>.PrevPage.disabled>svg>polygon,
.AdminPostResult .PageMonitor>.NextPage.disabled>svg>polygon {
    fill: #c5c5c5;
}

.AdminPostResult .PageMonitor>.Pages>li.selected {
    color           : rgb(255, 255, 255);
    background-color: rgb(45, 135, 243);
    border-radius   : 4px;
}

.PdDOverlayContainer,
.PDDOverlayContainer {
    margin-top      : 0 !important;
    position        : absolute;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    border          : 1px solid #ccc;
    display         : none;
    flex-wrap       : wrap;
    justify-content : center;
    background-color: rgba(0, 0, 0, 0.5);
}

.PdDOverlayContainer .PdDClose,
.PDDOverlayContainer .PDDClose {
    width: 100%;
}

.PdDOverlayContainer .PdDClose button,
.PDDOverlayContainer .PDDClose button {
    height          : 48px;
    width           : 48px;
    background-color: inherit;
    border          : none;
    color           : white;
    float           : right;
}

.PdDOverlayContainer .PdDClose button>svg,
.PDDOverlayContainer .PDDClose button>svg {
    width : 36px;
    height: 36px;
}

.PdDOverlayContainer .PdDOverlayContent,
.PDDOverlayContainer .PDDOverlayContent {
    position        : absolute;
    margin-top      : 72px;
    background-color: white;
    height          : fit-content;
    padding         : 32px;
    border-radius   : 10px;
}