@use "sass:map";
@import "~mdb-ui-kit/css/mdb.min.css";
.footer {
  background-color: #3e4551;
  padding: 40px 160px 50px 160px;
  &_title {
    font-size: 15px;
    color: rgb(205, 162, 162);
    font-weight: bold;
  }
}
