@use "sass:map";
@import "style/pages/theme";

.AdminServiceContainer {
    margin: 32px;
}

.AdminServiceFilter {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 32px;
}

.AdminServiceFilter>h3 {
    width      : 100%;
    font-weight: 700;
}

.AdminServiceFilter .FilterRow {
    display: flex;
    width  : 100%;
}

.AdminServiceFilter .FilterLabel {
    font-weight: 700;
}

.AdminServiceFilter .FilterRow .Filter {
    margin-bottom: 24px;
}

.AdminServiceFilter .FilterRow .Filter .FilterLabel {
    margin-bottom: 8px;
}

.AdminServiceFilter .FilterRow .Filter .FilterTextInput input {
    border-radius: 10px;
    border       : 1px solid #B6A5A5;
    padding      : 8px;
    width        : 40%;
}

.AdminServiceFilter .FilterRow .Filter .FilterTextInput input::placeholder {
    color      : #00000059;
    font-style : italic;
    font-weight: 700;
}

.AdminServiceFunction {
    width      : fit-content;
    margin-left: auto;
}

.AdminServiceFunction #AdminServiceAddService {
    border-radius: 10px;
    background   : #3A57E8;
    color        : white;
    font-weight  : 700;
    border       : none;
    gap          : 8px;
    padding      : 12px 8px;
    display      : flex;
    align-items  : center;
}

.AdminServiceResult .ResultPerTable {
    margin-bottom: 16px;
}

.AdminServiceResult .ResultPerTable label {
    margin-right: 16px
}

.AdminServiceResult .Table {
    display        : flex;
    justify-content: center;
    width          : 100%;
    flex-wrap      : wrap;
}

.AdminServiceResult .Table table {
    width: 100%;
}

.AdminServiceResult tr:nth-child(odd) {
    background-color: #F1F0F0;
}

.AdminServiceResult tr:nth-child(even) {
    background-color: #FFFFFF;
}

.AdminServiceResult th,
.AdminServiceResult td {
    padding   : 16px 8px;
    text-align: center;
}

.AdminServiceResult th {
    font-weight     : 700;
    background-color: #D9D9D9;
}

.AdminServiceResult td img {
    max-width   : 30px;
    margin-right: 16px;
}

.AdminServiceResult td div.Action {
    display        : flex;
    gap            : 16px;
    justify-content: center;
}

.AdminServiceResult td div.Action button {
    border : none;
    padding: 2px;
}

.AdminServiceResult td div.Action button svg {
    width: 22px;
}

.AdminServiceResult td div.Action button.EditButton {

    background-color: #ADF4BD;
    color           : #209C43;
}

.AdminServiceResult td div.Action button.DeleteButton {
    background-color: #E21C1C78;
    color           : #BE2424;
}

.AdminServiceResult .PageMonitor {
    margin-left: auto;
    margin-top : 32px;
}

.AdminServiceResult .PageMonitor,
.AdminServiceResult .PageMonitor>.Pages {
    display: flex;
    gap    : 4px;
}

.AdminServiceResult .PageMonitor {
    margin-left: auto;
    width      : fit-content;
}

.AdminServiceResult .PageMonitor>div,
.AdminServiceResult .PageMonitor>.Pages>li {
    width : 32px;
    height: 32px;
    cursor: pointer;
}

.AdminServiceResult .PageMonitor>.PrevPage,
.AdminServiceResult .PageMonitor>.NextPage {
    border       : 1px solid rgb(217, 217, 217);
    border-radius: 4px;
}

.AdminServiceResult .PageMonitor>.PrevPage.disabled,
.AdminServiceResult .PageMonitor>.NextPage.disabled {
    background-color: rgb(242, 242, 242);
    cursor          : not-allowed;
    border          : none;
}

.AdminServiceResult .PageMonitor>.PrevPage.disabled>svg>polygon,
.AdminServiceResult .PageMonitor>.NextPage.disabled>svg>polygon {
    fill: #c5c5c5;
}

.AdminServiceResult .PageMonitor>.Pages>li.selected {
    color           : rgb(255, 255, 255);
    background-color: rgb(45, 135, 243);
    border-radius   : 4px;
}