@use "sass:map";
@import "style/pages/theme";


.AdminPageContainer {
  display: flex;
}

.AdminPageSideMenu {
  width: 14%;
}

.AdminPageContent {
  width           : 77%;
  background-color: #e9ecef;
  border-radius   : 10px;
  margin          : 40px auto;
}

.AdminPageContent {
  padding: 16px;
}

.AdminPageContent .OverlayContainer {
  margin-top      : 0 !important;
  position        : absolute;
  width           : 100%;
  height          : 100%;
  top             : 0;
  left            : 0;
  border          : 1px solid #ccc;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  background-color: rgba(0, 0, 0, 0.5);
}

.AdminPageContent .OverlayContainer .Close {
  width: 100%;
}

.AdminPageContent .OverlayContainer .Close button {
  height          : 48px;
  width           : 48px;
  background-color: inherit;
  border          : none;
  color           : white;
  float           : right;
}

.AdminPageContent .OverlayContainer .Close button>svg {
  width : 36px;
  height: 36px;
}

.AdminPageContent .OverlayContainer .OverlayContent {
  position        : absolute;
  margin-top      : 72px;
  background-color: white;
  height          : fit-content;
  padding         : 32px;
  border-radius   : 10px;
}