@use "sass:map";
@import "style/pages/theme";

.AdminPageContainer {
    margin : 90px 10rem;
    display: flex;
    gap    : 5%
}

.AdminPageSideMenu {
    width: 20%;
}

.AdminPageContent {
    position        : relative;
    width           : 75%;
    background-color: #E9ECEF;
    border-radius   : 10px;
}

.AdminPageContent>div {
    margin-top: 64px;
}