$color-header: #1b3250;
$color-title: #262626;
$color-black: #59595b;
$color-blue: #3488f3;
$color-pink: #fc488e;
$color-white: #f4f0ef;
$color-footer: #9a9899;
$color-title-blue: #284a8f;
$fs-normal-text: 14px;
$fs-large-title: 32px;
$fs-small-title: 18px;
$fs-normal-title: 26px;
$fs-small-text: 12px;
