.category-list .swiper-slide {
  width: 170px !important;
  a {
    display: block;
    width: 100%;
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 25px !important;
  height: 25px !important;
  background-color: #6d4eec !important;
  border-radius: 50%;
  z-index: 100 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 10px !important;
  font-weight: 800;
}
.swiper-button-next::after {
  transform: translate(1px, 1px);
}
.swiper-button-prev::after {
  transform: translateY(1px);
}
