@use "sass:map";
@import "style/pages/theme";
@import "~mdb-ui-kit/css/mdb.min.css";
.category {
  margin-top: 70px;
  &__icon_header {
    svg {
      border-radius: 50%;
      background-color: #f7f9fc;
      padding: 4px;
      height: 27px;
      width: 27px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #f7f9fc;
      top: 85px;
      right: 20px;
      left: 17%;
    }
  }
  &__header {
    column-gap: 20px;
    height: 60px;
    width: 100%;
    padding: 20px 0 20px 200px;
  }
  &__color {
    background-color: $color-banner;
    height: 70px;
  }
  &__banner {
    &_description {
      border: 1px solid rgb(242, 242, 242);
      height: 150px;
      padding: 24px;
    }
    &_header {
      margin: 0 auto;
      width: 700px;
      height: 400px;
    }
    &_heading {
      display: flex;
      img {
        height: 170px;
        width: 170px;
        object-fit: cover;
      }
      h1 {
        font-size: $fs-normal-title;
        color: $color-title;
        font-weight: 600;
        padding-left: 40px;
        padding-top: 6%;
      }
    }
    &_image {
      &_header {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: white;
        margin-top: -40px;
      }
    }
  }
  &__blog {
    margin: 0 auto;
    max-width: 1010px;
    margin-top: -70px;
    h3 {
      font-weight: 700;
      font-size: $fs-normal-title;
      color: $color-title;
      margin-left: -17px;
    }
    &_news {
      margin-bottom: 70px;
    }
    &_category {
      margin-left: -15px;
      column-gap: 20px;
      margin-top: 25px;
      margin-bottom: 60px;
      a {
        width: 156px;
        height: 175px;
        padding: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        border: 1px solid rgb(217, 217, 217);
        box-shadow: $box-shadow;
        img {
          width: 90px;
          height: 90px;
          margin-left: -10px;
          margin-top: -5px;
        }
        p {
          color: $color-black;
          font-size: 16px;
          font-weight: 600;
          width: 95%;
          margin-top: 20px;
          text-align: center;
        }
      }
    }
    &_item {
      margin-top: 40px;
      width: 65%;
      margin-left: -34px;
      margin-bottom: 50px;
    }
    &_doctor {
      display: flex;
      column-gap: 50px;
      margin-bottom: 420px;
      width: 100%;
      &_item {
        margin-right: -47px;
        &_list {
          height: 280px;
          width: 270px;
          background-color: white;
          border-radius: 6px;
          box-shadow: $box-shadow;
          border: 1px solid $border;
          margin-right: 20px;
          margin-bottom: 20px;
          &_img {
            width: 100%;
            height: 130px;
            background-color: #e3f2ff;
            border-radius: 4px;
            text-align: center;
            padding-top: 25px;
            margin-top: 10px;
            img {
              border-radius: 50%;
              height: 80px;
              width: 80px;
            }
          }
          &_text {
            text-align: center;
            span {
              color: $color-black;
            }
          }
          p {
            color: $color-title;
            font-weight: 600;
            line-height: 24px;
            font-size: 15px;
            text-align: center;
            margin-top: 10px;
          }
        }
      }
      &_info {
        width: 80%;
        p {
          margin-top: 30px;
          margin-left: -17px;
        }
        a {
          display: inline-block;
          margin-top: 30px;
          margin-left: -18px;
        }
      }
    }
  }
  &-item {
    &-image {
      text-align: center;
    }
  }
  &__text {
    svg {
      transform: translate(-10px, -1px);
    }
  }
  &__text2 {
    color: $color-black;
    font-size: $fs-normal-text;
    margin-left: -20px;
  }
}
