@use "sass:map";
@import "style/pages/theme";
@import "~mdb-ui-kit/css/mdb.min.css";
.information {
  margin-left: 20px;
  h1 {
    color: $color-title;
    font-weight: 600;
    font-size: $fs-normal-title;
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &__avatar {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  &__upload {
    div {
      font-size: $fs-small-text;
    }
    button {
      margin-bottom: 8px;
      img {
        width: 20px;
        height: 20px;
        transform: translate(-5px, -2px);
      }
    }
  }
  &__content {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
  }
  &__content1 {
    width: 45%;
  }
  &__content2 {
    width: 45%;
  }
}
