@use "sass:map";
@import "style/pages/theme";
.NewsSmallHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

.CategoryName {
  text-transform: uppercase;
  font-size: 24px;
}

.NewsSmallLink {
  position: absolute;
  left: 300px;
  bottom: 0px;
  p {
    color: rgb(45, 135, 243);
  }
}

.ListNewsSmallItems > .NewsItem {
  display: flex;
  padding: 0 16px;
  box-sizing: border-box;
}

.NewsSmallContent .NewsItem > .NewsImage,
.NewsSmallContent .NewsItem > .NewsInfo {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
}

.NewsSmallContent .NewsItem {
  width: 150%;
}

.ListNewsSmallItems .NewsImage > a > img {
  width: 100%;
  object-fit: cover;
}

.NewsInfo {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: 10px;
}

.NewsSmallContent .NewsItem .NewsTitle,
.NewsSmallContent .NewsItem .NewsContent,
.NewsSmallContent .NewsItem .NewsAuthorAndTime {
  padding: 4px 0;
}

.NewsSmallContent .NewsItem .NewsTitle > a {
  font-size: 20px;
}

.NewsSmallContent .NewsItem .NewsAuthorAndTime,
.NewsSmallContent .NewsItem .NewsAuthorAndTime > a {
  display: flex;
  align-items: center;
}

.NewsSmallContent1 .NewsItem .NewsAuthorAndTime > a > img {
  height: 20px;
  object-fit: contain;
  margin-right: 4px;
}
.NewsItem {
  margin-left: -5px !important;
}
.NewsContent1 {
  width: 80%;
  span {
    font-size: $fs-normal-text;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    h1 {
      font-size: 18px;
      font-weight: bold;
      color: $color-title;
    }
  }
}
.NewsImage1 {
  a {
    img {
      border-radius: 6px;
      width: 150px;
      height: 85px;
      object-fit: cover;
    }
  }
}
